*{
    padding: 0;
    margin: 0;
}

body{
    background-color: rgb(164, 204, 103);
}

.container{
    display: flex;
    justify-content: center;
}
.container-box{
    width: 400px;
    height: 170px;
    margin-top: 150px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    background-color: white;
    border-radius: 5px;
  
}
.weight , .height{
 display: flex;  
 justify-content: space-between;
 align-items: center;
 padding: 20px 15px 0px;
}
#weight , #height {
    width: 70%;
    outline: none;
    border: none;
    height: 2px;
}
.ComputIing-BMI{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 25px 0px 10px;
    
}
#BMI{
    padding: 5px;
}